span{
    font-size: medium;
}
#note{
    color: black;
}
body{
    background-image: url("cityscpe.jpeg");
    background-size:cover;
}
#SN{
    color:ghostwhite;
    border-color: ghostwhite;
}
canvas{
    margin-top: 100px;
    border-color: #435A9D;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
}